[submodule "rosstuff/catkin_ws/src/dynamixel_interface"]
	path = rosstuff/catkin_ws/src/dynamixel_interface
	url = https://github.com/csiro-robotics/dynamixel_interface.git
[submodule "rosstuff/catkin_ws/moveit"]
	path = rosstuff/catkin_ws/moveit
	url = https://github.com/ros-planning/moveit.git
[submodule "rosstuff/catkin_ws/src/moveit"]
	path = rosstuff/catkin_ws/src/moveit
	url = https://github.com/ros-planning/moveit.git
